page-profile {
    
  .toolbar-background{
    background-color: #00796b;
  }  
  
  strong,ion-icon{
    color:white;
  }

  ion-card-content{
      color: #00796b;
 }

 .column button{
   background-color: #ffc107;
   font-size: 18px;
   border-radius:10px; 
 }

}
