page-home,
.home {
  .border-bottom{
    height: 100px;
    font-size: 25px;
  
  }

  .ion-item input{
      color: #00796b;
  }

  .toolbar-background{
    background-color: #00796b;
  }  
  
  strong,ion-icon{
    color:white;
  }
  

  #icon{
    color: #00796b;
  }
ion-item{
  color: #00796b;

}

  #content{
    background-color: white;
  }

  .border-bottom{
    color:#00796b;

  }
  ion-card{
    border:2px solid #00796b;
  }

  .border-bottom:hover{
    background-color: #ffff5a;
  }



  
  
}
