page-viewsend {
    
    strong,ion-icon{
        color: white;
      
    }

    ion-navbar .toolbar-background{
        background-color: #00796b;
    }

    .to , .message , {
        display: block;
        width: 100%;
        color: black;
        font-size:18px;
        padding: 8px;
        
    } 

}
