page-registerparent,
.register {

    h2,.text-primary,p{
        color:  #FFC107;
    }
    .Signup{
        background-color: #FFC107;
        color: black;
    }

    .login{
        color:  #FFC107;
    }
  
}