page-scoredaily {
    .toolbar-background{
        background-color: #FFC107;
      }  
    
      strong,ion-icon{
        color:black;
     
      }

      ion-title{
        text-align: center;
      }

      .toolbar-title-md{
        padding-right: 12%;
      }

      .listheader{
        background-color:  #00796b;
        color: white;
        text-align: center;
        border-radius: 10px;
        font-size: 20px;
      }
      .gridcontent{
          text-align: center;
          color: #00796b;
          font-size: 16px;
          margin: 0px;
          padding: 0px;
          
      }

}
