page-score {
        
  .toolbar-background{
    background-color:#FFC107;
    text-align: center;
  }  

  strong,ion-icon{
    color:black;
  }

  #part1{
    background-color: #00796b;
  
  }
  .textlabel1{
    color: white;
    font-size: 18px;
    text-align: center;
  }
  .textlabel2{
    font-size: 16px;
  }

  .item-button{
    color:#00796b;
  }
}
