page-login-patrent {
    .btnloginP{
        background-color:#FFC107;
        color: black;    }

    .btnloginP:hover{
        background-color: #ffff6b;
    }

    .SignupP{
        color: #FFC107;
    }

    .iconstu , strong{
        color: #FFC107;
    }

    .forgorpassword{
        color:#FFC107;
    }
   
    .Stu{
        margin-top:20px;
        text-align: center;
    }

    .btnStu{
        background-color: #00796b;
        color: white;
    }

    .btnStu:hover{
        background-color: #00796b;
        color: #FFC107;
    }
}
