page-register,
.register {

    h2,.text-primary,p{
        color:  #00796b;
    }
    .Signup{
        background-color: #00796b;
        color: white;
    }

    .login{
        color:  #00796b;
    }
  
}